.add-patient-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-patient-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-patient-header h4 {
    font-weight: bold;
    color: #333;
  }
  
  .add-patient-header button {
    background-color: #1976d2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-patient-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .add-patient-form > div {
    width: 48%;
    margin-bottom: 20px;
  }
  
  .add-patient-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .add-patient-form input, .add-patient-form select, .add-patient-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-patient-form button[type="submit"] {
    background-color: #1976d2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-patient-form button[type="submit"]:hover {
    background-color: #1565c0;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .add-patient-form > div {
      width: 100%;
    }
  }
