.patient-profile {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-section {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.name-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
}
.input-field {
    width: auto; /* Adjust width as necessary or keep it flexible */
    margin-bottom: 10px; /* Adds spacing between inputs */
}
.profile-picture-container {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 100%;
    height: auto;
}

.image-controls {
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-file {
    width: 7vw;
}

.input-field {
    width: 50vw;
}

.save-button {
    margin-top: 20px;
    align-self: center;
}
