.component-grid-container {
    display: flex;
    width: 100%;
    height: 80vh;
    overflow: auto; /* Allow scrolling in both directions */
}

.component-grid {
    flex: 1;
    display: grid;
    grid-gap: 10px;
    padding: 5px;
    align-content: start;
    overflow: auto; /* Allow scrolling within each grid if necessary */
}

.grid-one, .grid-two, .grid-three, .grid-four, .grid-more-than-four {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.component {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ensure content within each component can scroll if needed */
}

.grid-more-than-four {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
