.patient-search-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    transition: height 0.3s ease-in-out;
}

.search-bar-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-bar-container select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.patient-search-table {
    flex-grow: 1;
    overflow: auto;
}


.table-header {
    display: flex;
    background-color: #e1e1e1;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.table-row {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s;
}

.table-row:hover {
    background-color: #f0f0f0;
}

.table-row span {
    flex: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
}

.table-row img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
